{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block content %}

<div>
    <div class="container" style="width:80%">
        <div style="margin-bottom: 50px; margin-top: 50px">
        {{ page.body|richtext }}
        </div>

        <p><h4>Корисна інформація: </h4></p>

        {% if page.related_links.all %}
        <ul>
            {% for item in page.related_links.all %}
            <div class="row" >
                <div class="col-md-10 col-md-offset-1">
                    <p><a href="{{ item.link }}"><b>{{ item.title }}</b></a></p>
                    <p> {{ item.intro }} </p>
                    <p><em> {{ item.date }}</em></p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

