{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="container">
	<p><b>{{ page.title }}</b><p>
    <p class="meta"><em>{{ page.date }}</em></p>
    {{ page.body|richtext }}
	<div>
{% endblock %}