<div>
    <form name="{{ form.form_name }}" method="post"  action="." novalidate>
        {% csrf_token %}
        {{ form.as_div}}
        <div class="modal-footer">
            <button type="button" ng-disabled="isClean() || {{ form.form_name }}.$invalid"
                    ng-click="submit_{{ form.form_name }}({{ form.form_name }})"
                    class="btn btn-primary">Записати</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Вихід</button>
        </div>
    </form>
</div>
