{% extends "service_requests/requestdetails.html" %}
{% block content %}
<hr>
{% verbatim %}
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <label> Кінцевий термін: </label>
        </div>
        <div class="col-md-8 col-md-offset">
            <span> {{ details.deadline | date:'dd.MM.yyyy'}} </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Закріплений працівник: </label>
        </div>
        <div class="col-md-8 col-md-offset">
            <span> {{ details.employee }} </span>
        </div>
    </div>
    <hr>
    <completion-form></completion-form>
</div>
{% endverbatim %}
{% endblock content %}