<div charset="utf-8">
    <div class="col-md-6">
        <form name="{{ form.form_name }}" method="post" action="." novalidate ng-controller="CreateCtrl">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="button" ng-disabled="{{ form.form_name }}.$invalid" ng-click="submit()"
                    class="btn btn-primary">Відправити</button>
        </form>
        <div class="container">
            <small>поля помічені значком *  - обов`язкові для заповнення</small>
        </div>

    </div>
</div>
