{% extends "service_requests/requestdetails.html" %}
{% block content %}
<hr>
{% verbatim %}
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <label> Дата виконання: </label>
        </div>
        <div class="col-md-8 col-md-offset">
            <span> {{ details.date_completion | date:'dd.MM.yyyy'}} </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Проведені роботи: </label>
        </div>
        <div class="col-md-8 col-md-offset">
            <span> {{ details.worklist }} </span>
        </div>
    </div>
    <hr>
    <div>
    <deadline-form></deadline-form>
    </div>    
</div>
{% endverbatim %}
{% endblock content %}