{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
<!-- Djangular -->
<link rel="stylesheet" type="text/css" href="{% static 'service_requests/css/bootstrap3.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'service_requests/css/djangular.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'service_requests/css/validate.css' %}"/>
<!-- Side modal window -->
<link rel="stylesheet" type="text/css" href="{% static 'service_requests/css/angular-aside.css' %}"/>
{% endblock %}
{% block extra_js %}
<!-- Angular base -->
<script data-require="angular.js@1.4.3" data-semver="1.4.3"
        src="{% static 'service_requests/js/angular.js' %}"></script>
<!-- Routing (replace standart ng-route)-->
<script type="text/javascript" src="{% static 'service_requests/js/angular-ui-router.js' %}"></script>
<!-- Django-angular scripts -->
<script type="text/javascript" src="{% static 'service_requests/js/ng-django-forms.js' %}"></script>
<!-- Restangular scripts -->
<script type="text/javascript" src="{% static 'service_requests/js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'service_requests/js/restangular.js' %}"></script>
<!--Smart table scripts -->
<script data-require="ui-bootstrap@0.14.3" data-semver="0.14.3"
        src="{% static 'service_requests/js/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'service_requests/js/angular-animate.js' %}"></script>
<script type="text/javascript" src="{% static 'service_requests/js/smart-table.js' %}"></script>
<script type="text/javascript" src="{% static 'service_requests/js/angular-locale_uk-ua.js' %}"></script>
<!-- Side modal window -->
<script type="text/javascript" src="{% static 'service_requests/js/angular-aside.js' %}"></script>
<!--App script  -->
<script type="text/javascript" src="{% static 'service_requests/js/requestsmanagment.js' %}"></script>
<!-- Check request status -->
<script type="text/javascript" src="{% static 'service_requests/js/requeststatus.js' %}"></script>
<!-- Date format -->
<script type="text/javascript" src="{% static 'service_requests/js/dateformat.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div ng-app="RequestManagement">
        <div ui-view></div>
    </div>
</div>
{% endblock %}

