<div ng-controller="RequestListCtrl" ng-cloak>
    {%verbatim%}
    <script type="text/ng-template" id="alert.html">
        <div style="align: left; min-width: 250px; min-height: 35px" role="alert">
            <div ng-transclude style="margin: 20px" ></div>
        </div>
    </script>

    <div>
        <hr>
        <table st-set-filter="customFilter" st-table="displayedCollection" st-safe-src="rowCollection" class="table">
            <thead>
            <tr>
                <th class="col-md-2" st-sort="date_request">Заявку подано</th>
                <th class="col-md-4">Опис проблеми</th>
                <th class="col-md-1" st-sort="username">Користувач</th>
                <th class="col-md-1" st-sort="location_value">Офіс</th>
                <th class="col-md-1" st-sort="deadline">Кінцевий строк</th>
                <th class="col-md-1" st-sort="responsible_employee">Відповідальний</th>
                <th class="col-md-1" st-sort="request_status">Статус</th>
                <th class="col-md-1"></th>
            </tr>
            <tr>
                <th>
                    <button type="button" class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Період</button>
                    <div uib-collapse="isCollapsed">
                        <div class="well well-lg">
                            <st-date-range predicate="date_request" before="query.before" after="query.after"></st-date-range>
                        </div>
                    </div>

                </th>
                <th>
                    <input st-search="problem" placeholder="Проблема.." class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="username" placeholder="Користувач.." class="input-sm form-control" type="search" />
                </th>
                <th>
                    <select st-search="location" class="input-sm form-control" st-input-event="change">
                        <option value="">Всі</option>
                        <option value="v">Вишенька</option>
                        <option value="k">Книжка</option>
                        <option value="z">Замостя</option>
                    </select>
                </th>
                <th></th>
                <th>
                    <input st-search="employee" placeholder="Відповідальний.." class="input-sm form-control" type="search" />
                </th>
                <th>
                    <select st-search="request_status" class="input-sm form-control" st-input-event="change">
                        <option value="">Всі</option>
                        <option value="active">Виконується</option>
                        <option value="warning">З порушенниям</option>
                        <option value="danger">Не виконано</option>
                        <option value="success">Виконано</option>
                        <option value="info">В обробці</option>
                    </select>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody ng-show="displayedCollection">
            <tr ng-repeat="row in displayedCollection" class="{{row.request_status}}" ng-switch on="row.request_status">
                <td>{{row.date_request | date:'dd.MM.yyyy'}}</td>
                <td>{{row.problem}}</td>
                <td>{{row.username}}</td>
                <td>{{row.location_value}}</td>
                <td>{{row.deadline |date:'dd.MM.yyyy' }}</td>
                <td>{{row.employee}}</td>
                <td>
                    <div ng-switch-when="active">Виконується</div>
                    <div ng-switch-when="warning">Порушення</div>
                    <div ng-switch-when="danger">Не виконано</div>
                    <div ng-switch-when="success">Виконано</div>
                    <div ng-switch-when="info">В обробці</div>

                </td>
                <td>
                    {%endverbatim%}
                    <!--
                <button type="button" ng-click="opendetails(row)" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-pencil"></i>
                </button>

                    <button type="button" ng-click="openAside('left', true, row)" class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
-->
                    {% if user.is_staff %}
                    <div class="btn-group" uib-dropdown>
                        <button id="split-button" type="button" class="btn btn-primary" ng-click="openSettingDeadline('left', true, row)">
                            <i class="glyphicon glyphicon-pushpin"></i>
                        </button>
                        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
                            <li role="menuitem">
                                <div>
                                        <span ng-click="openCompletion('left', true, row)"> 
                                        <button type="button"  class="btn btn-xs btn-primary">
                                            <i class="glyphicon glyphicon-wrench"></i>
                                        </button>
                                        Виконання
                                        </span>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li role="menuitem">
                                <div>
                                        <span ng-click="openEditRequest('left', true, row)"> 
                                        <button type="button"  class="btn btn-xs btn-primary">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        Редагувати
                                        </span>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li role="menuitem">
                                <div>
                                        <span ng-click="removeItem(row)"> 
                                        <button type="button"  class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-remove-circle"></i>
                                        </button>
                                        Видалити
                                        </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <button type="button" class="btn btn-xs btn-primary" ng-click="openCompletion('left', true, row)"> <i class="glyphicon glyphicon-wrench"></i>
                    </button>
                    {% endif %} {% verbatim %}
                </td>
            </tr>
            </tbody>
            <tbody ng-hide="displayedCollection">
            <tr>
                <td colspan="7" class="text-center">Завантаження... </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2" class="text-left">
                    <uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="3000" type="{{alert.type}}" close="closeAlert($index)">
                        {{alert.msg}}
                    </uib-alert>
                </td>
                <td colspan="6" class="text-right">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="8"></div>
                </td>
            </tr>
            </tfoot>

        </table>
    </div>
    {%endverbatim%}
</div>