<div class="modal-header">
    {% verbatim %}
    <div class="row">
        <div class="col-md-4">
            <label> Дата запиту: </label>
        </div>
        <div class="col-md-8 col-md-offset">
            <span> <em>{{details.date_request | date:'dd.MM.yyyy' }}</em> </span>
        </div>
    </div>
</div>
<div class="modal-body">
    <div>
        <div class="row">
            <div class="col-md-4">
                <label> Проблема: </label>
            </div>
            <div class="col-md-8 col-md-offset">
                <span> {{ details.problem }} </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <label> Контактні дані: </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <small> користувач :</small>
                </div>
            </div>
            <div class="col-md-8 col-md-offset">
                <span>  {{ details.username }} </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 container">
                <div class="container">
                    <small> офіс :</small>
                </div>
            </div>
            <div class="col-md-8 col-md-offset">
                <span>  {{ details.location_value }} </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 container">
                <div class="container">
                    <small> кабінет :</small>
                </div>
            </div>
            <div class="col-md-8 col-md-offset">
                <span>  {{ details.cabinet }} </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 container">
                <div class="container">
                    <small> контактний телефон :</small>
                </div>
            </div>
            <div class="col-md-8 col-md-offset">
                <span>  {{ details.phone }} </span>
            </div>
        </div>

    </div>
</div>
{% endverbatim %}
{% block content %}
{% endblock %}