<div charset="utf-8">
    <label >від :</label>
    <div class="input-group" >
        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="after" is-open="isAfterOpen"
               class="lan" current-text="Сьогодні" clear-text="Очистити" close-text="Закрити" />
	<span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openAfter($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                </span>
    </div>
    <label>до :</label>
    <div class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="before" is-open="isBeforeOpen"
               current-text="Сьогодні" clear-text="Очистити" close-text="Закрити"/>
	<span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openBefore($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                </span>
    </div>
</div>
