{% load static wagtailuserbar %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <!-- Latest compiled and minified CSS -->
    <!-- Стиль страницы, элементов, таблиц и форм -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Відділ адміністрування і захисту інформаційно-аналітичних систем</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li class="active"><a href="/servicerequests/#/list">Монітор</a></li>
                {% if user.is_staff %}
                <li><a href="/admin">Адмінка</a></li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <span>
                    <form action="{% url 'search' %}" method="get" class="navbar-form">
                        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                        <button class="btn btn-primary" type="submit">Пошук</button>
                    </form>
                    </span>
                </li>
                {% if user.is_authenticated %}
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Вийти</a></li>
                        <span class="navbar-text">
                            <span class="glyphicon glyphicon-user">
                            </span> {{user.first_name}} {{user.last_name}}
                        </span>
                {% else %}
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Увійти</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
{# Global javascript #}
<script type="text/javascript" src="{% static 'js/apps.js' %}"></script>
{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
