{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
<div class="container">
    <h4 class="text-center login-title">Логін або пароль невірний</h4>
    <p>
    <h5 class="text-center login-title"> <a href="/login">повторити спробу</a>  </h5>
    <p/>
</div>
{% endblock %}