{% extends "base.html" %}

{% load static wagtailcore_tags %}
{% block content %}
<div class="container">
 {% if form.errors %}
 <p>Помилка! Невірний логін або пароль</p>
 {% endif %}
 <div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
   <h4 class="text-center login-title">Вхід</h4>
   <div class="account-wall">
    <form class="form-signin" action="/auth/" method="post">
     {%csrf_token%}
     <br>
     <input type="text" name="username" class="form-control" placeholder="Логін" required autofocus>
     <br>
     <input type="password" name="password" class="form-control" placeholder="Пароль" required>
     <br>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
    </form>
   </div>
  </div>
 </div>
</div>
{% endblock %}